.navbar-expand-lg {
  background-color: rgb(67, 111, 153);
}
.name {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 280px;
}
.line {
  margin-top: 30px;
  width: 60%;
}

.navbar-brand {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-link {
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.title {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
}
.lines {
  margin-top: 10px;
  width: 20%;
}
.row {
  padding-top: 60px;
}
/* header */
header {
  background: rgb(32, 26, 26);
  color: rgb(0, 0, 0);
  padding: 20px 20px;
  font-size: 20px;
}
/* lebar menu dan background */
aside {
  flex: 20%;
  background: rgb(7, 7, 7);
  width: 20px;
  height: 20px;
  float: left;
  padding: 6px;
}

/*konten utama*/
section.main {
  flex: 80%;
  background: rgb(0, 0, 0);
  min-height: 20px;
  padding: 15px 20px;
}

/*navigasi*/
.menu {
  padding: 0;
}
.menu li {
  border-bottom: 2px double rgb(0, 0, 0);
}
.menu a {
  display: block;
  padding: 20px 20px;
  list-style: none;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu a:hover {
  background: rgb(0, 0, 0);
}

.card-text {
  margin-left: 20px;
}

.title {
  margin-left: 50px;
}

.table-bordered {
  width: 20px;
}
